![MLTrain logo](https://mltrain.cc/wp-content/uploads/2017/11/mltrain_logo-4.png "MLTrain logo")

In [5]:
!wget -q -O changeNBLayout.py https://raw.githubusercontent.com/cmalliopoulos/PfBDAaML/master/changeNBLayout.py
%run changeNBLayout.py

# Introduction #
The pandas library implements the basic machinery for handling in-memory tabular data with Python.  
It is a large library. Contains >600 methods, attributes and functions.  
The online documentation of the current version (0.21) is available at https://pandas.pydata.org/pandas-docs/stable/overview.html.  
  
The core data structures in Pandas are the __Series, DataFrame and Index objects__.  
You should think of Series and DataFrames as fact tables (ie with named and typed columns) and Indices as Dimensions with hierarchies.  
  
Pandas' methods and funtions permit standard __dimensional analysis__ (slicing, dicing and pivoting). Moreover Pandas provides a comprehensive set of analytical functions for __group transforms and ranking__.

### Imports ###

In [61]:
from os import linesep as endl
import pandas as pd
import numpy as np

# Adjust Pandas layout options
pd.set_option('display.width', 124)

! wget -q -O nba.csv https://raw.githubusercontent.com/cmalliopoulos/PfBDAaML/master/nba.csv
nba = pd.read_csv('nba.csv')
print 'NBS player stats:', endl, nba.sample(5)

! wget -q -O employees.csv https://raw.githubusercontent.com/cmalliopoulos/PfBDAaML/master/employees.csv
emp = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
print '', endl, emp.sample(5)

NBS player stats:
                  Name                   Team  Number Position  Age Height  Weight    College   Salary
314        Kyle Korver          Atlanta Hawks      26       SG   35    6-7     212  Creighton  5746479
24    Chris McCullough          Brooklyn Nets       1       PF   21   6-11     200   Syracuse  1140240
255         Josh Smith        Houston Rockets       5        C   30    6-9     225        NaN   947276
204        Ian Mahinmi         Indiana Pacers      28        C   29   6-11     250        NaN  4000000
88   Marreese Speights  Golden State Warriors       5        C   28   6-10     255    Florida  3815000

    First Name  Gender Start Date     Last Login Time  Salary  Bonus % Senior Management          Team
326    Jeffrey    Male 1997-06-18 2017-11-24 20:01:00   45150   12.075              True       Product
283       Todd    Male 2009-03-11 2017-11-24 03:43:00  107281    1.612              True   Engineering
430     Andrea  Female 2010-10-01 2017-11-24 11:54:00   79123   19.422             False  Distribution
581     Ernest    Male 1990-01-28 2017-11-24 00:08:00   81919   15.118             False     Marketing
154    Rebecca  Female 1980-11-15 2017-11-24 04:13:00   85730    5.359              True       Product

# Introspection methods and attributes #

Dataframes have quite a few object attributes for __introspection__ and convenience methods for querying their __content__

In [7]:
print 'Print first 5 rows', endl, nba.head(5)
print endl, 'Print 5 last rows', endl, nba.tail()
print endl, 'A random sample of 5 rows', endl, nba.sample(5)
print endl, 'Column types', endl, nba.dtypes
print endl, 'column names', endl, nba.columns
print endl, 'The index object', endl, nba.index
print endl, 'DataFrame values as array', endl, nba.values
print endl, 'Shape', endl, nba.shape
print endl, 'Number of elements', endl, nba.size
print endl, 'Basic statistics', endl, nba.info()

Print first 5 rows
            Name            Team  Number Position  Age Height  Weight            College   Salary
0  Avery Bradley  Boston Celtics       0       PG   25    6-2     180              Texas  7730337
1    Jae Crowder  Boston Celtics      99       SF   25    6-6     235          Marquette  6796117
2   John Holland  Boston Celtics      30       SG   27    6-5     205  Boston University      NaN
3    R.J. Hunter  Boston Celtics      28       SG   22    6-5     185      Georgia State  1148640
4  Jonas Jerebko  Boston Celtics       8       PF   29   6-10     231                NaN  5000000

Print 5 last rows
             Name       Team  Number Position  Age Height  Weight College   Salary
453  Shelvin Mack  Utah Jazz       8       PG   26    6-3     203  Butler  2433333
454     Raul Neto  Utah Jazz      25       PG   24    6-1     179     NaN   900000
455  Tibor Pleiss  Utah Jazz      21        C   26    7-3     256     NaN  2900000
456   Jeff Withey  Utah Jazz      24        C   26    7-0     231  Kansas   947276
457           NaN        NaN     NaN      NaN  NaN    NaN     NaN     NaN      NaN

A random sample of 5 rows
                 Name                  Team  Number Position  Age Height  Weight    College    Salary
157        Taj Gibson         Chicago Bulls      22       PF   30    6-9     225        USC   8500000
275     Alexis Ajinca  New Orleans Pelicans      42        C   28    7-2     248        NaN   4389607
143  DeMarcus Cousins      Sacramento Kings      15        C   25   6-11     270   Kentucky  15851950
189     Tobias Harris       Detroit Pistons      34       SF   23    6-9     235  Tennessee  16000000
168      Kyrie Irving   Cleveland Cavaliers       2       PG   24    6-3     193       Duke  16407501

Column types
Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

column names
Index([u'Name', u'Team', u'Number', u'Position', u'Age', u'Height', u'Weight', u'College', u'Salary'], dtype='object')

The index object
Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            448, 449, 450, 451, 452, 453, 454, 455, 456, 457],
           dtype='int64', length=458)

DataFrame values as array
[['Avery Bradley' 'Boston Celtics' 0.0 ..., 180.0 'Texas' 7730337.0]
 ['Jae Crowder' 'Boston Celtics' 99.0 ..., 235.0 'Marquette' 6796117.0]
 ['John Holland' 'Boston Celtics' 30.0 ..., 205.0 'Boston University' nan]
 ...,
 ['Tibor Pleiss' 'Utah Jazz' 21.0 ..., 256.0 nan 2900000.0]
 ['Jeff Withey' 'Utah Jazz' 24.0 ..., 231.0 'Kansas' 947276.0]
 [nan nan nan ..., nan nan nan]]

Shape
(458, 9)

Number of elements
4122

Basic statistics
<class 'pandas.core.frame.DataFrame'>
Int64Index: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 35.8+ KB
None

__Column types__ can be set programmatically

In [37]:
print 'Before type-setting:', endl, emp.dtypes

# Change types programmatically
emp["Senior Management"] = emp["Senior Management"].astype('bool')
emp["Gender"] = emp["Gender"].astype("category")

print endl, 'After type-setting', endl, emp.dtypes

Before type-setting:
First Name                   object
Gender                       object
Start Date           datetime64[ns]
Last Login Time      datetime64[ns]
Salary                        int64
Bonus %                     float64
Senior Management            object
Team                         object
dtype: object

After type-setting
First Name                   object
Gender                     category
Start Date           datetime64[ns]
Last Login Time      datetime64[ns]
Salary                        int64
Bonus %                     float64
Senior Management              bool
Team                         object
dtype: object

# Construction #

In [38]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

print 'Dictionary ctor:'
print pd.DataFrame(data)

print endl, 'If you specify a different order in "columns" the df will be arranged properly:'
print pd.DataFrame(data, columns = ['year', 'state', 'pop'])

frame2 = pd.DataFrame(
    data, 
    columns = ['year', 'state', 'pop', 'debt'],
    index = ['one', 'two', 'three', 'four', 'five'])
print endl, 'Non-existing columns fill the DataFrame with nulls:'
print frame2

pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)

print endl, 'A nested dict creates column and index objects:'
print frame3

listT = lambda _: np.array(_).T
frame4 = pd.DataFrame(
    data = listT(data.values()), 
    index = ['one', 'two', 'three', 'four', 'five'], 
    columns = ['year', 'state', 'pop'])

frame4.index.name = 'ixNames'
frame4.columns.name = 'colNames'

print endl, 'Index and columns can be named:'
print frame4

Dictionary ctor:
   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

If you specify a different order in "columns" the df will be arranged properly:
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

Non-existing columns fill the DataFrame with nulls:
       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

A nested dict creates column and index objects:
      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

Index and columns can be named:
colNames    year state   pop
ixNames
one         Ohio   1.5  2000
two         Ohio   1.7  2001
three       Ohio   3.6  2002
four      Nevada   2.4  2001
five      Nevada   2.9  2002

------------------------------------------
# Projection and selection #

### Projection ###

In [39]:
data = pd.DataFrame(
    np.random.choice(10, 24).reshape((6, 4)),
    index = ['Ohio', 'Colorado', 'Utah', 'New York', 'Atlanta', 'San Francisco'],
    columns = ['one', 'two', 'three', 'four'])

# Projections
print data['one']
print data[['one', 'two']]
print data[[col for col in data.columns if 'o' in col]]

Ohio             2
Colorado         5
Utah             6
New York         0
Atlanta          9
San Francisco    8
Name: one, dtype: int64
               one  two
Ohio             2    3
Colorado         5    5
Utah             6    6
New York         0    7
Atlanta          9    8
San Francisco    8    4
               one  two  four
Ohio             2    3     4
Colorado         5    5     0
Utah             6    6     2
New York         0    7     4
Atlanta          9    8     0
San Francisco    8    4     1

### Selection by index ###

In [40]:
# Selection by index label
data.loc['Ohio']
data.loc['Ohio':'Utah']
data.loc[['Ohio', 'New York']]

# Integer selection
data.iloc[2:4]
data.iloc[::-1]
data[2:4]


# Simultaneous selection by label and projection
data.loc['Atlanta', ['two', 'three']]

two      8
three    5
Name: Atlanta, dtype: int64

### Boolean and relational selections ###

We can specify __index__ shards (position lists and ranges) by boolean or relational expressions:

In [41]:
# Selection based on categories
print emp[emp['Team'] == 'Marketing'].sample(2)
print endl, emp[(emp['Gender'] == 'Male') & (emp['Team'] == 'Sales')].sample(2)
print endl, emp[(emp['Gender'] == 'Female') & ~(emp['First Name'] == 'Mary')].sample(2)

# Selection based on scalars
print endl, emp[emp['Start Date'] > '1990-01-01'].sample(2)

# a more complex condition
print endl, emp[~emp['Team'].isin(['Marketing', 'Sales'])].sample(5, replace = False)

print endl, emp[emp['Salary'].between(80000, 150000)].sample(4)

    First Name  Gender Start Date     Last Login Time  Salary  Bonus % Senior Management       Team
26       Craig    Male 2000-02-27 2017-11-24 07:45:00   37598    7.757              True  Marketing
883    Kathryn  Female 1995-10-27 2017-11-24 15:39:00   57300   18.015             False  Marketing

    First Name Gender Start Date     Last Login Time  Salary  Bonus % Senior Management   Team
873      Jason   Male 1998-05-01 2017-11-24 18:05:00   75607    4.299              True  Sales
592     Justin   Male 1981-05-24 2017-11-24 23:15:00   78351   15.221             False  Sales

    First Name  Gender Start Date     Last Login Time  Salary  Bonus % Senior Management       Team
220        NaN  Female 1991-06-17 2017-11-24 12:49:00   71945    5.560              True  Marketing
516     Gloria  Female 1992-04-12 2017-11-24 20:26:00   66224   15.979              True      Legal

    First Name  Gender Start Date     Last Login Time  Salary  Bonus % Senior Management          Team
40     Michael    Male 2008-10-10 2017-11-24 11:25:00   99283    2.665              True  Distribution
235      Norma  Female 2015-02-11 2017-11-24 23:44:00   94393    3.643              True   Engineering

    First Name  Gender Start Date     Last Login Time  Salary  Bonus % Senior Management          Team
600    Barbara     NaN 1994-12-20 2017-11-24 10:09:00   90556   15.749              True  Distribution
261      Marie  Female 1995-08-06 2017-11-24 13:58:00  100308   13.677             False       Product
758       Carl     NaN 2007-08-18 2017-11-24 08:01:00   98295    7.617              True         Legal
541       Ruby  Female 1999-05-01 2017-11-24 03:36:00  147362    7.851              True   Engineering
348     Philip    Male 1989-08-02 2017-11-24 11:21:00  129968   19.897             False       Finance

    First Name  Gender Start Date     Last Login Time  Salary  Bonus % Senior Management             Team
214      Julie  Female 1989-07-23 2017-11-24 13:52:00  109588    3.550             False      Engineering
870    Cynthia     NaN 1996-11-19 2017-11-24 22:40:00  107816   18.751             False        Marketing
815      Maria     NaN 1986-01-18 2017-11-24 20:36:00  106562    4.000             False  Human Resources
255     Denise  Female 2009-03-20 2017-11-24 07:57:00  115118    5.108             False  Human Resources

### More general selections ###
With Dataframes of integral types more general selections are possible:

In [79]:
df = pd.DataFrame(np.random.randn(5, 5))
print 'Dataframe of floats:', endl, df

mask = (df > .5)
print endl, 'Boolean mask', endl, mask

print endl, 'Applying mask to df:', endl, df[mask]

Dataframe of floats:
          0         1         2         3         4
0 -1.351567 -0.206079  1.469018  0.238091  0.976213
1  0.599672  1.613372  0.022147  0.166617 -1.104442
2 -0.428363  2.106975  0.389974  0.008080 -1.279482
3  0.488893 -0.066330 -0.893561 -0.695361  0.577821
4  0.585217 -1.136154  1.285640 -0.157583  0.889713

Boolean mask
       0      1      2      3      4
0  False  False   True  False   True
1   True   True  False  False  False
2  False   True  False  False  False
3  False  False  False  False   True
4   True  False   True  False   True

Applying mask to df:
          0         1         2   3         4
0       NaN       NaN  1.469018 NaN  0.976213
1  0.599672  1.613372       NaN NaN       NaN
2       NaN  2.106975       NaN NaN       NaN
3       NaN       NaN       NaN NaN  0.577821
4  0.585217       NaN  1.285640 NaN  0.889713

### .isnull and .notnull ###

In [80]:
print emp['Team'].isnull().sample(5)

print endl, 'First names of employees without team:'
print emp['First Name'][emp['Team'].isnull()].sample(5)

574    False
561    False
371    False
825    False
731    False
Name: Team, dtype: bool

First names of employees without team:
382        NaN
479    Richard
851      Bobby
520      Peter
91       James
Name: First Name, dtype: object

# .unique and .nunique #

In [81]:
print emp['First Name'][emp['Team'].isnull()].unique()

print endl, len(emp['First Name'][emp['Team'].isnull()].unique())

print endl, 'Not equal. Why?', endl, emp['First Name'][emp['Team'].isnull()].nunique()

print endl, "Now they're equal:", endl, emp['First Name'][emp['Team'].isnull()].nunique(dropna = False)

['Thomas' 'Louise' nan 'James' 'Christopher' 'Jonathan' 'Michael' 'Jeremy'
 'Bobby' 'Edward' 'Joyce' 'Jason' 'Chris' 'Richard' 'Wanda' 'Jimmy' 'Peter'
 'Kimberly' 'Harry' 'Carl' 'Randy' 'Donald' 'Joseph' 'Alice' 'Todd'
 'Daniel' 'Antonio' 'Lawrence' 'Nicole' 'Charles' 'Mildred' 'Phillip'
 'Ryan' 'Joe']

34

Not equal. Why?
33

Now they're equal:
34

# sorting and ranking #

In [82]:
# To sort by the values of one or more columns use sort_values method
print emp.sort_values(by = 'First Name', na_position = 'last').head(5)

# Create an index by which to sort
print endl, 'Sort by "Start Date" using index sorting'
_0 = emp.set_index(keys = 'Start Date', drop = True)
print endl, _0.sort_index(ascending = False, na_position = 'last').head(5)

    First Name Gender Start Date     Last Login Time  Salary  Bonus % Senior Management             Team
101      Aaron   Male 2012-02-17 2017-11-24 10:20:00   61602   11.849              True        Marketing
327      Aaron   Male 1994-01-29 2017-11-24 18:48:00   58755    5.097              True        Marketing
440      Aaron   Male 1990-07-22 2017-11-24 14:53:00   52119   11.343              True  Client Services
937      Aaron    NaN 1986-01-22 2017-11-24 19:39:00   63126   18.424             False  Client Services
137       Adam   Male 2011-05-21 2017-11-24 01:45:00   95327   15.120             False     Distribution

Sort by "Start Date" using index sorting

           First Name  Gender     Last Login Time  Salary  Bonus % Senior Management             Team
Start Date
2016-07-15      Terry     NaN 2017-11-24 00:29:00  140002   19.490              True        Marketing
2016-06-16       Tina  Female 2017-11-24 19:47:00  100705   16.961              True        Marketing
2016-06-05    Lillian  Female 2017-11-24 06:09:00   59414    1.256             False          Product
2016-05-24        NaN    Male 2017-11-24 21:17:00   76409    7.008               NaN     Distribution
2016-05-12    Lillian     NaN 2017-11-24 15:43:00   64164   17.612             False  Human Resources

`rank` will assign integers to values according to their ordered position.  
The ranks can be contiguous or not according to the ranking method. Groups of equal values are always assigned the same rank.  
`average` assigns to each equi-valued group the average of their sort-index.  
  
__NB:__ The ranks of the resulting set are not sorted

In [83]:
# create a dummy DataFrame
_1 = pd.DataFrame(np.random.choice(5, [10, 2]))
print _1

# Default ranking
print endl, 'Default ranks of first column elements', df[0].rank()

print endl, 'Dense ranking', endl, pd.concat([df[0], df[0].rank(method = 'dense')], axis = 1)

   0  1
0  0  3
1  1  1
2  4  0
3  1  0
4  2  0
5  4  0
6  1  1
7  4  4
8  2  3
9  1  3

Default ranks of first column elements 0    1
1    5
2    2
3    3
4    4
Name: 0, dtype: float64

Dense ranking
          0  0
0 -1.351567  1
1  0.599672  5
2 -0.428363  2
3  0.488893  3
4  0.585217  4

-------------------
# Groupings and transforms #

Projections and selections when combined with `.groupby`, `.apply` and `.transform` methods described in the sequel, essentially constitute Panda's powerful framework for multidimensional analysis (MDA).  
MDA supported by visualizations (an area we'll explore later) is what has been known as __Exploratory Data Analysis__, a term coined in the 70s by John Tukey, one of the prominent statisticians of our era

__Quiz:__ What else is [Tukey known for](https://en.wikipedia.org/wiki/Cooley%E2%80%93Tukey_FFT_algorithm)? (it dominated the electronics industry for 3 decades)

In [84]:
from datetime import datetime as dt
np.random.seed(101)

### Dataset ###
Create a Dataframe with Sales records of an imaginary retailer.  
The retailer sells products identified by their Stock-keeping unit (SKU column) in several stores identified by their ID (STORE column).  
Each record contains the number and the price of items (SKUs) sold in a store at a particular day.
  
For our case assume there're 4 SKUs, 5 stores and we have records from 01May2016 to 31Oct2017

In [85]:
# SKUs
storeSales = pd.DataFrame(np.random.choice(list('ABCD'), 100), columns = ['SKU'])
# Stores
storeSales['STORE'] = np.random.choice(list('WXYZ'), 100)
# Dates
storeSales['DAY'] = np.random.choice(pd.date_range(start = dt(2016, 5, 1), end = dt(2017, 10, 31)), 100)
#Price: 
prices = dict(zip(list('ABCD'), np.random.uniform(10, 100, 4)))
storeSales['PRICE'] = storeSales['SKU'].map(prices)

# Items sold. # Permit 0 sales on item
storeSales['SALES'] = np.random.uniform(0, 100, 100).astype(int)

Permit some null prices (e.g. assume some SKUs were sold with coupons of varying markdowns)  
__Caveat:__  
If you try to use instead
``` Python
storeSales[np.random.choice([True, False], storeSales.shape[0], p = [.05, .95])]['PRICE'] = np.nan
```
you get a warning that 'you're trying to a ssign to an implicit copy'.  
  
__Quiz:__ Where's the implicit copy?

In [86]:
storeSales.loc[np.random.choice([True, False], storeSales.shape[0], p = [.05, .95]), 'PRICE'] = np.nan
print storeSales.sample(20)

   SKU STORE        DAY      PRICE  SALES
20   B     Z 2016-08-05  28.058070     79
39   C     Y 2016-07-11  66.801608     17
35   A     W 2017-05-13  50.774371     90
75   B     X 2016-09-23        NaN     13
42   D     W 2016-11-09  11.601213     23
16   A     Z 2016-09-22  50.774371     14
95   D     W 2016-05-26  11.601213     37
61   C     Y 2017-07-16  66.801608     82
82   A     Z 2017-07-28  50.774371     34
60   D     X 2017-10-29  11.601213     30
5    D     X 2016-12-06  11.601213     44
10   B     Y 2017-08-28  28.058070      6
89   C     W 2017-03-27  66.801608     99
52   D     Y 2017-07-31        NaN     85
87   C     X 2017-05-12  66.801608     69
70   A     Z 2017-03-08  50.774371     66
57   C     Y 2017-04-24  66.801608     83
6    B     Y 2016-09-03  28.058070     98
77   D     X 2017-06-06  11.601213     25
38   C     X 2016-08-19  66.801608     79

__Sales per STORE per DAY:__

In [87]:
storeSales.groupby(['STORE', 'DAY'])['SALES'].sum().sample(5)

STORE  DAY
Z      2017-08-13    62
Y      2016-06-10    26
       2017-07-31    85
X      2016-12-06    44
       2016-07-15    31
Name: SALES, dtype: int64

__Average sales of store X__

In [88]:
storeSales[storeSales['STORE'] == 'X'].groupby('SKU')['SALES'].mean()

SKU
A    45.800000
B    22.500000
C    57.000000
D    54.727273
Name: SALES, dtype: float64

-------------------------------------------------------------------------------------
To answer time queries we need the .dt accessor of Series objects with datetime dtype.

In [89]:
storeSales['DAY'].dtype

dtype('<M8[ns]')

In [37]:
# Monday = 0, Sunday = 6
storeSales.groupby(storeSales['DAY'].dt.dayofweek)['SALES'].mean()

           PRICE      SALES      YEAR_WEEK
STORE
W      37.716651  62.666667  201710.666667
X      44.987891  42.250000  201703.750000
Y      56.116783  56.750000  201711.000000
Z      31.187792  41.000000  201737.500000

## <span style = "color: red"> Exercise 1 </span>##
Find the average sales by store on Saturdays

%load -s pandas1 solutions.py

-------------------------------------------------------------------------------
We can compute more advanced aggregations using .groupby with function objects:  
E.g to compute the sum of sales per week and year

In [90]:
yearWeekAsInts = lambda tseries_: tseries_.year * 100 + tseries_.week
salesByWeek = storeSales.groupby(yearWeekAsInts(storeSales['DAY'].dt))['SALES'].sum()
print salesByWeek.sort_index().sample(10)

DAY
201701      7
201722     42
201723     90
201632    125
201626    119
201730    119
201640     33
201652     61
201620     36
201717    236
Name: SALES, dtype: int64

To compute more complex aggregations I would rather create a column for yearWeeks:

In [91]:
storeSales['YEAR_WEEK'] = yearWeekAsInts(storeSales['DAY'].dt)
print storeSales.groupby(['YEAR_WEEK', 'STORE'])['SALES'].sum().sort_index().sample(10)

YEAR_WEEK  STORE
201647     X        25
201732     Z        62
201735     Z        44
201640     Z        33
201620     X        36
201643     Y        39
201752     Y        72
201638     X        13
201625     Z        73
201630     Y        89
Name: SALES, dtype: int64